[MASTER]

extension-pkg-whitelist=
fail-under=10.0
ignore=
ignore-patterns=
jobs=1
limit-inference-results=100
load-plugins=
persistent=yes
suggestion-mode=yes
unsafe-load-any-extension=no

[MESSAGES CONTROL]

confidence=
disable=logging-fstring-interpolation,fixme,consider-using-f-string,invalid-name,F0010,R0801,too-few-public-methods
enable=c-extension-no-member

[REPORTS]

evaluation=10.0-float(error + warning + refactor + convention)
output-format=text
reports=no
score=yes

[REFACTORING]

max-nested-blocks=5
never-returning-functions=sys.exit

[BASIC]

argument-naming-style=snake_case
attr-naming-style=snake_case
bad-names=foo,bar,baz,toto,tutu,tata
bad-names-rgxs=
class-attribute-naming-style=any
class-naming-style=PascalCase
const-naming-style=UPPER_CASE
docstring-min-length=-1
function-naming-style=snake_case
good-names=i,j,k,ex,Run,_,id
good-names-rgxs=
include-naming-hint=no
inlinevar-naming-style=any
method-naming-style=snake_case
module-naming-style=snake_case
name-group=
no-docstring-rgx=^_
property-classes=abc.abstractproperty
variable-naming-style=snake_case

[STRING]

check-quote-consistency=no
check-str-concat-over-line-jumps=no

[LOGGING]

logging-format-style=old
logging-modules=logging

[FORMAT]

expected-line-ending-format=
ignore-long-lines=^\s*(# )?<?https?://\S+>?$
indent-after-paren=4
indent-string='    '
max-line-length=120
max-module-lines=1000
single-line-class-stmt=no
single-line-if-stmt=no

[TYPECHECK]

contextmanager-decorators=contextlib.contextmanager
generated-members=numpy,torch,cv2
ignore-mixin-members=yes
ignore-none=yes
ignore-on-opaque-inference=yes
ignored-classes=
ignored-modules=scipy.spatial
missing-member-hint=yes
missing-member-hint-distance=1
missing-member-max-choices=1
signature-mutators=

[SIMILARITIES]

ignore-comments=yes
ignore-docstrings=yes
ignore-imports=no
min-similarity-lines=8

[SPELLING]

max-spelling-suggestions=4
spelling-dict=
spelling-ignore-words=
spelling-private-dict-file=
spelling-store-unknown-words=no

[VARIABLES]

additional-builtins=
allow-global-unused-variables=yes
callbacks=cb_,_cb
dummy-variables-rgx=_+$|(_[a-zA-Z0-9_]*[a-zA-Z0-9]+?$)|dummy|^ignored_|^unused_
ignored-argument-names=_.*|^ignored_|^unused_
init-import=no
redefining-builtins-modules=six.moves,past.builtins,future.builtins,builtins,io

[MISCELLANEOUS]

notes=FIXME,XXX,TODO

[IMPORTS]

allow-any-import-level=
allow-wildcard-with-all=no
analyse-fallback-blocks=no
deprecated-modules=
ext-import-graph=
import-graph=
int-import-graph=
known-standard-library=
known-third-party=enchant
preferred-modules=

[DESIGN]

max-args=6
max-attributes=10
max-bool-expr=5
max-branches=12
max-locals=25
max-parents=7
max-public-methods=20
max-returns=6
max-statements=50
min-public-methods=2

[CLASSES]

defining-attr-methods=__init__,__new__,setUp,__post_init__
exclude-protected=_asdict,_fields,_replace,_source,_make
valid-classmethod-first-arg=cls
valid-metaclass-classmethod-first-arg=cls

[EXCEPTIONS]

overgeneral-exceptions=builtins.BaseException,builtins.Exception

